<div class="navbar">
  <h1>Flats</h1>
  <%= link_to "Add a flat", new_flat_path %>
</div>
<div class="flat-container">
  <% @flats.each do |f| %>
    <div class="flat-card">
      <h3 class="flat-card-title"><%= f.name %></h3>
      <p class="flat-card-address"><%= f.address %></p>
      <div class="flat-card-body">
        <p><i class="fas fa-user-friends"></i> <%= f.number_of_guests %></p>
        <p><i class="fas fa-dollar-sign"></i> <%= f.price_per_night %></p>
      </div>
      <div class="flat-more-info">
        <%= link_to "More info", flat_path(f) %>
      </div>
    </div>
  <% end %>
</div>