<%= link_to "Edit", edit_flat_path %>
<%= link_to flat_path(@flat),
  method: :delete,
  data: { confirm: "Are you sure?" } do %>
  <i class="fas fa-trash-alt"></i>
<% end %>
<h1><%= @flat.name %></h1>
<h2><%= @flat.address %></h2>
<p><%= @flat.description %></p>
<%= link_to "Home", flats_path %>